/* Define custom properties */
html {
  --gray800: oklch(10% 0% 0);
  --gray600: oklch(40% 0% 0);
  --gray100: oklch(92% 0% 0);
  --brand: oklch(85% 0.3 145);

  background: var(--gray100);
  font-family: system-ui, sans-serif;
}

header {
  background: var(--gray800);
  color: white;
  padding: 1em;
  text-align: center;
}

header h1 {
  font-variation-settings: "wght" 900, "wdth" 700;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.todo-form {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.button-add-todo {
  background: var(--brand);
}

.button-add-todo.shake {
  transform-origin: bottom right;
  animation: shake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.button-add-todo.added {
  transform-origin: center center;
  animation: added 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  50% {
    transform: rotate(-12deg);
  }
}

@keyframes added {
  50% {
    transform: rotate(1turn) translateY(50px);
  }
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid var(--gray600);
}

.todo-list li.complete {
  text-decoration: line-through;
}

.svg-check {
  opacity: 0;
}

.todo-list li.complete .svg-check {
  opacity: 1;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: do-check 1s infinite alternate;
}

@keyframes do-check {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.todo-type-toggles {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.todo-type-toggles button[aria-pressed="true"] {
  font-weight: bold;
}

